:root {
  --background: #ffffff;
  --secondary: rgb(239, 235, 231);
  --foreground: #171717;
  --font: Garamond, "Apple Garamond", "Baskerville", "Libre Baskerville", "Times New Roman", serif;
}


html {
  height: 100%;
  font-family: var(--font);
  scrollbar-width: thin;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}



.left-bar {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - 0.4em);
  width: 300px;
  padding: 0.2em;
  background-color: var(--secondary);

}

.logo {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  width: 100%;
  background-color: var(--background);
  border-radius: 3px;
}

.fade {
  background: linear-gradient(to top, transparent, var(--background));
  height: 3em;
  width: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.reverse-fade {
  background: linear-gradient(to bottom, transparent, var(--background));
  height: 3em;
  width: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  bottom: 0;
}

.tabcontainer {
  padding: 0.2em;
  margin-bottom: 0.2em;
  background-color: var(--background);
  border-radius: 3px;
}

.tab0 {
  z-index: 1;
  display: flex;


  hr:last-of-type {
    flex-grow: 1;
  }

}

.tab1 {
  padding-left: 2em !important;
}

.tab2 {
  padding-left: 4em !important;
}



.tabs {
  padding: 0.2em;
  cursor: pointer;
  gap: 0.2em;
  display: flex;
  align-items: center;
  border-radius: 3px;
  button {
    background-color: transparent;
  }
  padding: 0.2em;

  a {
    flex-grow: 1;
    border-radius: 3px;
  }
}

.collapse-trigger {
  cursor: pointer;
  transition: opacity 0.15s ease;
  transition: transform 0.15s ease;
  display: flex;
  justify-content: center;
  width: 1em;
  height: 1em;
  padding: 0 !important;
}

.search-column {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  transition: opacity 0.1s ease-in-out;
  margin: 0.2em 0;
  border-radius: 3px;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.search-row {
  display: flex;
  gap: 0.2em;

  width: 100%;

  input[type="text"] {
    flex-grow: 1;
  }

  button, input {
    font-family: var(--font) !important;
  }


  .orderer {
    flex-basis: 50%;
    flex-grow: 0;
  }
  .sorter {
    flex-basis: 50%;
    flex-grow: 0;
  }
}

input[type="text"], button {
  padding: 0.5em;
  border: none;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  &:focus {
    outline: none;
    border-color: var(--foreground);
  }
  border-radius: 3px;

}

button {
  background-color: var(--background);
  cursor: pointer;
}

@media (hover: hover) {
  button:hover {
    background-color: var(--secondary);
  }

  .tabs:hover {
    background-color: var(--secondary);
  }
}