@use "variables" as *;

.content-container {
    height: $univHeight;
    overflow-y: none;
    overflow-x: none;
   
    padding: 0.2em;
}

.content-columns {
    display: flex;
    gap: 0.2em;
    max-width: 100%;
    .content-left {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        max-width: 100%;
        height: $univHeight;
        overflow-y: auto;
        flex-grow: 1;
    }
    .viewer-artists {
        display: flex;
        white-space: pre;
    }
    .content-right {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        min-width: 15%;
        max-width: 15%;
        height: $univHeight;
        .recommended-list {
            overflow-y: auto;
        }
    }

    transition: opacity 0.1s ease-in-out;

    @media (max-width: 800px) {
        flex-direction: column;
        gap: 2em;
        overflow-y: auto;
        .content-left {
            max-width: 100%;
            height: auto;
        }
        .content-right {
            max-width: 100%;
            flex-basis: auto;
        }
        
    }
}


.vs-root {
    width: 100%;
    height: 60dvh;
    background-color: black;
    border-radius: 3px;
}

.vs-media {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;
}

.content-rec {
    
}