@use "variables" as *;

html {
  height: 100%;
  font-family: $font;
  scrollbar-width: thin;
  background-color: $background;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-size: 16px;
}

.appcontainer {
  display: flex;
}

a, a:visited, a:hover, a:active {
  color: $foreground;
  text-decoration: none;
}

.main {
  flex-grow: 1;
}

input[type="text"], button {
  border: none;
  transition: border-color 0.1s ease-in-out, background-color 0.1s ease-in-out;
  &:focus {
    outline: none;
    border-color: $background;
  }
  border-radius: 3px;
  font-family: $font !important;
  font-size: 16px !important;
}

button {
  background-color: $secondary;
  cursor: pointer;
}

.about {
  padding: 0.2em;
}


.tabs {
  cursor: crosshair;
  display: flex;
  align-items: center;
  .collapse-trigger {
    cursor: crosshair;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 0.2em;
  }

  a {
    flex-grow: 0;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $secondary;
    }
  }

}

.linkout {
  @include link-style;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: pretty;
}

@media (hover: hover) {
  button:hover {
    background-color: $background;
  }


}

.ubu-linkout {
  width: fit-content;
}



.spiral {
  display: inline-block;
}

.loader {
  flex-grow: 0;
  height: 100%;
  width: 100%;
  justify-self: center;
  justify-content: center;
  display: flex;
  align-self: center;
  align-items: center;
}

.tooltip-parent {
  @media (hover: hover) {
    &:hover .tooltip {
      display: block;
    }
    
  }

  .tooltip {
    display: none;
    position: fixed;
    background-color: $secondary;

    z-index: 1000;
  }
}