@use "variables" as *;

html {
  height: 100%;
  font-family: $font;
  scrollbar-width: thin;
  background-color: $background;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-size: 16px;
}

.appcontainer {
  display: flex;
  overflow: hidden;
  height: 100dvh;
  max-height: 100dvh;
}

a, a:visited, a:hover, a:active {
  color: $foreground;
  text-decoration: none;
}
.main {
  flex-grow: 1;
}

.main-home {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: calc(100% - 0.4em);
    height: auto;
    margin: 0.2em;
    transition: opacity 0.2s ease-in-out;
  }
}

input[type="text"], button {
  border: none;
  &:focus {
    outline: none;
    border-color: $background;
  }
  font-family: $font !important;
}

input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0; 
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px !important;
}

input {
  border: 1px solid $foreground;
}

button {
  @include link-style;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  text-decoration: underline;
}

.about {
  padding: 0.2em;
}


.tabs {
  cursor: crosshair;
  display: flex;
  align-items: flex-start !important;
  padding: 0 0.2em;
  .collapse-trigger {
    cursor: crosshair;
    flex-grow: 1;
    justify-content: flex-end;
  }

  a {
    flex-grow: 0;
  }

  @media (hover: hover) {
    &:hover {
      background-color: $secondary;
    }
  }

  @media (max-width: 800px) {
    &:active {
      background-color: $secondary;
    }
  }

}


.linkout {
  @include link-style;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: pretty;
  word-break: break-word;
}

@media (hover: hover) {
  button:hover {
    background-color: $secondary;
  }
}

.ubu-linkout {
  width: fit-content;
}

.loader {
  flex-grow: 0;
  height: 100%;
  width: 100%;
  justify-self: center;
  justify-content: center;
  display: flex;
  align-self: center;
  align-items: center;
}

.tooltip-parent {
    &:hover .tooltip {
      display: block;
    }
    

  .tooltip {
    display: none;
    position: fixed;
    background-color: $secondary;
    border: 1px solid $foreground;

    z-index: 1000;
  }
}

.column-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  border-right: 1px solid $foreground;

  &:last-child {
    border-right: none;
  }

  .panel-tab {
    display: none;
  }

  .panel-content {
    flex: 1;
    overflow-x: auto;
  }
}



@media (max-width: 800px) {
  .appcontainer {
    height: 100dvh;
  }

  .column-panel {
    transition: flex-basis 0.4s ease-in-out;
    cursor: pointer;
    
    box-sizing: border-box;
    min-width: 0;
    flex-shrink: 0;
    flex-grow: 0;
    overflow: hidden;

  }

  .panel-active {
    
    cursor: default;
  }

  .column-panel:not(.panel-active) a,
  .column-panel:not(.panel-active) button,
  .column-panel:not(.panel-active) input,
  .column-panel:not(.panel-active) textarea,
  .column-panel:not(.panel-active) select,
  .column-panel:not(.panel-active) div,
  .column-panel:not(.panel-active) [role="button"] {
      pointer-events: none;
      .collapse-trigger {
        display: none;
      }
  }

  body {
    font-size: 20px !important;
  }
  button, input[type="text"] {
    font-size: 20px !important;
  }

  button:active {
    background-color: $secondary;
  }


  .tooltip {
    display: none !important;
  }
}