@use "variables" as *;

.right-bar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  transition: opacity 0.1s ease-in-out;
  overflow-y: auto;
  overflow-x: none;

  .right-bar {
    height: 100dvh;
  }

  @media (min-width: 801px) {
    min-width: 15dvw;
    max-width: 15dvw;
  }
}

.logo {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  width: 100%;
  background-color: $background;
}

.fade {
  background: linear-gradient(to top, transparent, var(--background));
  height: 3em;
  width: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.reverse-fade {
  background: linear-gradient(to bottom, transparent, var(--background));
  height: 3em;
  width: 100%;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  bottom: 0;
}

.tabcontainer {
  background-color: $background;
}

.tab0 {
  z-index: 1;
  display: flex;


  hr:last-of-type {
    flex-grow: 1;
  }

}

.tab1 {
  padding-left: 2em !important;
}

.tab2 {
  padding-left: 4em !important;
}





.collapse-trigger {
  cursor: pointer;
  transition: opacity 0.15s ease;
  transition: transform 0.15s ease;
  display: flex;
  justify-content: center;
  width: 1em;
  height: 1em;
  padding: 0 !important;
}

.search-column {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 3;
  transition: opacity 0.1s ease-in-out;
  border-top: 1px solid $foreground;
  border-bottom: 1px solid $foreground;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding: 0.2em;
}

.search-row {
  display: flex;
  gap: 0.2em;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  &:has(.sorter) {
    flex-wrap: wrap;
  }

  width: 100%;

  input[type="text"] {
    width: 100%;
  }

  .orderer, .sorter {
    flex-grow: 0;
  }

  .page-counter {
    justify-self: center;
  }
}