@use "variables" as *;

.left-bar {
    height: $univHeight;
    display: flex;
    overflow-y: auto;
    min-width: 12dvw;
    flex-grow: 1;
    max-width: 12dvw;
    padding: 0.2em;
    flex-direction: column;
    justify-content: space-between;
    .footer, .header {
        max-width: 12dvw;

        display: flex;
        flex-direction: column;
    }
    .footer {
        transition: opacity 0.1s ease-in-out;
    }
}

.auth-page {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;

    height: $univHeight;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    label {
        display: flex;
        gap: 0.2em;
        div {
            width: 5em;
        }
    }
}