@use "variables" as *;


.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow-y: auto;
    
    .left-bar {
      height: 100%;
    }
  
    @media (min-width: 801px) {
      min-width: 12dvw;
      max-width: 12dvw;
    }
  
    .footer, .header {
      display: flex;
      flex-direction: column;
      padding: 0.2em;
    }
  
    .footer {
      transition: opacity 0.1s ease-in-out;
      border-top: 1px solid $foreground;
    }

    
}

.left-header {
  border-bottom: 1px solid $foreground;
  padding: 0.2em !important;
}

.auth-page {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;

}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.spiral {
  animation: spin 2s linear infinite; 
  display: inline-block;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    label {
        display: flex;
        gap: 0.2em;
        div {
            width: 5em;
        }
    }
}